

   body{
    background-color: #F1EAF2;
    color:white;
    margin: 0;
    padding: 0;
  } 

   
  #navbar{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: flex-start;
    background-color: black;
    color: white;

  }



  .wa{
    width:max-content;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #navbar .nav{
    margin-left: 100px;
    width:max-content;
    display: flex;
    gap: 25px;
    justify-content: space-between;
    align-items: center;
    /* border: 5px solid red; */
  }

  
  #navbar input{
    height: 20px;
    display: block;
  }

  .search_box{
    width:70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  }

  #navbar button{
    display: block;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: orange;
    border-radius: 10px;
  }
  

  

  .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: auto;
    width: auto;
  }
  button{
    background-color: black;
    color: white;
    padding: 2px 15px;
    font-size: 20px;
    cursor: pointer;
  
  }


  #cont{
    width: 50%;
    height: 50%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    font-style: bold;
    font-family:Arial;
    color: black;
    /* border: 5px solid black; */

  }
  #box{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    /* border: 5px solid red; */
  }

  #box1{
    width: 80%;
    margin: auto;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    /* justify-content: space-evenly; */
    gap: 20px;
    text-align: center;
    margin-bottom: 75px;
  }
  #box1>div{
    background-color: #090012;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* gap: 10px; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, white 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }


  @media all and (min-width: 480px) and (max-width: 720px) {
            


 

      #box{
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      #box1{
        display: grid;
        grid-template-columns: repeat(3,1fr);
      }

  }

  @media all and (min-width: 320px) and (max-width: 480px) {
 
  
    #navbar .nav{
      width:90%;
      margin: auto;
      display: flex;
      justify-content:center;
      align-items: center;
      gap:20px;
    }

    #navbar .search_box{
      gap: 5px;
    }



    #navbar h1{
      font-size: 18px;
    }


  
 

    .header{
      margin: auto;
      justify-content: center;
      align-items: center;
      gap:50px;
      justify-content: space-between;
      font-size:10px;
    }
    #box{
      width: 90%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    #cont{
      width: 90%;
    }

    #box1{
      display: grid;
      grid-template-columns: repeat(2,1fr);
    }
  }